---
import "../../styles.css";
import Layout from "../../layout/Layout.astro";
---

<Layout homepage={false}>
	<section class="document container mx-auto px-4 my-28 max-w-screen-md">
		<h2 class="text-4xl font-bold text-center mb-8">Polityka prywatności</h2>
		<div class="text-sm text-justify">
			<p>
				Niniejsza Polityka stanowi podstawową informację o celach, sposobach
				przetwarzania oraz bezpieczeństwie Twoich danych osobowych, jako
				użytkownika strony <a href="https://nikicodes.com/" target="_blank"
					>nikicodes.com</a
				> (zwanej dalej Stroną). Zapoznając się z Polityką prywatności dowiesz się
				kto jest administratorem Twoich danych osobowych, jakie dane osobowe są przez
				Stronę zbierane, w jakich celach są wykorzystywane oraz jak są chronione.
			</p>
			<h3>§1. Informacje podstawowe</h3>
			<ul>
				<li>Administratorem Twoich danych osobowych jest Natalia Nikiforuk.</li>
				<li>
					Kontakt z Administratorem jest możliwy za pośrednictwem poczty e-mail:
					contact@nikicodes.com.
				</li>
			</ul>
			<h3>§2. Zasady przetwarzania danych</h3>
			<p>
				Administrator przetwarza dane osobowe z poszanowaniem następujących
				zasad:
			</p>
			<ol>
				<li>w oparciu o podstawę prawną i zgodnie z prawem (legalizm);</li>
				<li>rzetelnie i uczciwie (rzetelność);</li>
				<li>
					w sposób przejrzysty dla osoby, której dane dotyczą (transparentność);
				</li>
				<li>w konkretnych celach i nie „na zapas” (minimalizacja);</li>
				<li>nie więcej niż potrzeba (adekwatność);</li>
				<li>z dbałością o prawidłowość danych (prawidłowość);</li>
				<li>nie dłużej niż potrzeba (czasowość);</li>
				<li>zapewniając odpowiednie bezpieczeństwo danych (bezpieczeństwo).</li>
			</ol>
			<h3>§3. Cele, podstawy prawne i zakres przetwarzania danych</h3>
			<ul>
				<li>Twoje dane będziemy przetwarzać:</li>
				<ol>
					<li>
						w celach kontaktowych, aby udzielić Ci odpowiedzi na Twoją wiadomość
						przesłaną nam bezpośrednio drogą e-mailową, za pośrednictwem
						formularza lub w odpowiedzi na kontakt telefoniczny na podstawie
						realizacji prawnie uzasadnionego interesu Administratora związanego
						z koniecznością udzielenia Ci odpowiedzi;
					</li>
					<li>
						w celach marketingowych, wyłącznie na podstawie udzielonej przez
						Ciebie zgody;
					</li>
					<li>
						w celach informacyjnych, aby przekazywać Ci ważne informacje
						dotyczące usług, z których korzystasz za pośrednictwem naszej
						Strony;
					</li>
					<li>
						w celach technicznych przy użyciu plików cookies (ciasteczka
						techniczne), na podstawie realizacji prawnie uzasadnionego interesu
						Administratora, związanego z prawidłowym działaniem i
						funkcjonowaniem Strony;
					</li>
					<li>
						w celach statystycznych i analitycznych, jeśli wyraziłeś zgodę na
						wykorzystanie przez nas plików cookies do celów analitycznych
						(ciasteczka analityczne);
					</li>
					<li>
						w celach marketingowych, jeśli wyraziłeś zgodę na wykorzystanie
						przez nas plików cookies do celów marketingowych (ciasteczka
						marketingowe);
					</li>
					<li>
						w celach archiwizacji numerów telefonów, wiadomości, e-maili, na
						podstawie realizacji prawnie uzasadnionego interesu Administratora,
						związanego z ochroną przed roszczeniami;
					</li>
					<li>
						w celu analizy informacji anonimowych. To informacje gromadzone za
						pośrednictwem naszej Strony, takie jak: informacje o przeglądarce,
						systemie operacyjnym, urządzeniu, czasie spędzonym na stronie,
						przejściach między stronami, kliknięciach w linki, przybliżona
						lokalizacja, przedział wieku, płeć. Informacje te są zanonimizowane,
						są zbierane za pośrednictwem systemów reklamowych i analitycznych
						naszych partnerów. Nie pozwalają na identyfikację i przypisanie ich
						do konkretnego użytkownika. Informacje te służą nam do działań
						marketingowych, analitycznych i statystycznych.
					</li>
				</ol>
				<li>Przetwarzamy Twoje dane w zakresie:</li>
				<ol>
					<li>
						jeśli prześlesz nam wiadomość drogą mailową, za pośrednictwem
						formularza lub przekażesz informacje drogą telefoniczną, to będziemy
						przetwarzać dane, które będą w tej wiadomości zawarte. Przekazanie
						nam danych w ten sposób następuje dobrowolnie. W każdym czasie
						możesz zwrócić się do nas z prośbą, o usunięcie tych danych;
					</li>
					<li>
						pozostałe dane, które przetwarzamy to adres IP i inne dane
						zapisywane w plikach cookies. To Ty decydujesz, w jakim zakresie
						będziemy mogli wykorzystać pliki cookies z Twoimi danymi.
						Przekazanie nam danych w ten sposób następuje dobrowolnie. W każdym
						czasie możesz zmienić swoje preferencje. Możesz to zrobić w swojej
						przeglądarce internetowej lub też po usunięciu zapisanych plików
						cookies pochodzących z naszej Strony;
					</li>
					<li>
						korzystania z API (interfejsów programistycznych aplikacji)
						dostarczanych przez zewnętrznych partnerów w celu zintegrowania
						różnych funkcjonalności, takich jak mapy, usługi analityczne,
						reklamowe czy media społecznościowe. Korzystanie z tych API może
						prowadzić do tworzenia dodatkowych ciasteczek lub korzystania z
						istniejących ciasteczek w celu przetwarzania danych użytkowników.
						Zewnętrzni partnerzy mogą przechowywać i przetwarzać te dane zgodnie
						z własnymi politykami prywatności.
					</li>
				</ol>
			</ul>
			<h3>§4. Na Stronie nie dokonujemy automatycznego profilowania</h3>
			<ul>
				<li>
					Na Stronie nie korzystamy z automatycznego profilowania, w celu
					tworzenia kampanii marketingowych w oparciu o mierzenie aktywności
					użytkownika, dzięki któremu bylibyśmy w stanie skierować wybrany przez
					nas materiał reklamowy do precyzyjnie wskazanego użytkownika.
				</li>
				<li>
					Choć korzystamy z systemów reklamowych naszych partnerów (Facebook,
					Google) to informacje i dane, które pozyskują na temat Twojej
					aktywności na Stronie, na podstawie których możemy tworzyć kampanie
					marketingowe, nie są profilowaniem automatycznym, ponieważ na ich
					podstawie nie jesteśmy w stanie podjąć decyzji w stosunku do Ciebie,
					jako do konkretnego użytkownika (np. pokazanie Ci konkretnej reklamy).
					Reklamy możemy tworzyć wyłącznie dla grup użytkowników, w oparciu o
					ogólne dane statystyczne dostarczone przez partnerów. Nie jesteśmy w
					stanie sprawić, by na podstawie danych dotyczących aktywności,
					konkretny użytkownik zobaczył wybraną przez nas reklamę.
				</li>
				<li>
					Więcej informacji o tym jak nasi partnerzy dokonują profilowania
					użytkowników i tworzą grupy odbiorców znajdziesz w ich politykach
					prywatności w paragrafie niżej.
				</li>
			</ul>
			<h3>
				Odbiorcy danych oraz zamiar przekazywania danych do Państwa spoza EOG
				lub organizacji międzynarodowej.
			</h3>
			<ul>
				<li>
					W zależności od celu w jakim przetwarzamy Twoje dane, odbiorcami
					Twoich danych osobowych mogą być:
				</li>
				<ol>
					<li>
						urzędy państwowe i inne instytucje publiczne, w zakresie, w jakim
						obowiązki przekazywania danych wynikają z przepisów prawa
						obowiązującego na terytorium Rzeczypospolitej Polskiej, w celach
						związanych z realizacją obowiązków prawnych ciążących na
						administratorze, takich jak dochodzenie roszczeń prawnych,
						realizacja zobowiązań podatkowych oraz inne postępowania regulowane
						przez odpowiednie przepisy prawa;
					</li>
					<li>dostawca oprogramowania Strony (hosting, serwer, domena);</li>
					<li>podmiot zajmujący się obsługą programistyczną Strony;</li>
					<li>podmiot zajmujący się obsługą marketingową Strony;</li>
					<li>
						dostawca oprogramowania do przechowywania danych i dokumentów w
						chmurze;
					</li>
					<li>
						dostawca oprogramowania do zarządzania ciasteczkami i zakresem
						przetwarzanych danych;
					</li>
					<li>
						jeśli wyraziłeś zgodę na ciasteczka marketingowe, Twoje dane
						zapisane w plikach cookies, będą przekazane do naszych partnerów
						reklamowych (Facebook, Google);
					</li>
					<li>
						jeśli wyraziłeś zgodę na ciasteczka analityczne, Twoje dane zapisane
						w plikach cookies, będą przetwarzane przez podmiot dostarczający
						oprogramowanie do analizy ruchu na naszej Stronie (np. Google
						Analytics).
					</li>
				</ol>
				<li>
					Twoje dane nie są przekazywane do Państw spoza EOG lub organizacji
					międzynarodowych, za wyjątkiem przypadków przetwarzania danych przez
					podmioty:
				</li>
				<ol>
					<li>
						Google Inc. z siedzibą w USA w zakresie analityki ruchu na stronie w
						systemie Google Analytics oraz dostarczania dodatkowych funkcji
						(takich jak Google Maps, Google Search Console) związanych z
						prawidłowym funkcjonowaniem Strony oraz wyświetlaniem wyników
						wyszukiwania. <a
							target="_blank"
							href="https://policies.google.com/privacy?hl=pl"
							>Zobacz jak Google przetwarza i chroni Twoje dane</a
						>. <a
							target="_blank"
							href="https://tools.google.com/dlpage/gaoptout/"
							>Ten dodatek do przeglądarki umożliwi Ci zarządzanie zakresem i
							poziomem dostępu do danych zbieranych przez Google Analytics</a
						>;
					</li>
					<li>
						Google Inc. z siedzibą w USA w zakresie reklam i mierzenia ich
						skuteczności w systemie Google Ads. <a
							target="_blank"
							href="https://policies.google.com/privacy?hl=pl"
							>Zobacz jak Google przetwarza i chroni Twoje dane</a
						>;
					</li>
					<li>
						Facebook Inc. z siedzibą w USA w zakresie obsługi konta i dostępu do
						danych w serwisach społecznościowych (Facebook, Instagram), reklam i
						mierzenia ich skuteczności związanych z instalacją na stronie
						piksela Facebooka oraz API Konwersji. <a
							target="_blank"
							href="https://transparency.meta.com/pl-pl/"
							>Zobacz jak Facebook przetwarza i chroni Twoje dane</a
						>;
					</li>
					<li>
						Google Inc. z siedzibą w USA w zakresie oprogramowania dysku
						wirtualnego służącego do przechowywania dokumentacji firmowej
						(dokumentacja obsługi procesu obsługi klienta i kontrahenta oraz
						dokumentacja RODO). <a
							target="_blank"
							href="https://support.google.com/drive/answer/10375054?hl=pl"
							>Zobacz jak Google chroni Twoje dane</a
						>;
					</li>
					<li>
						Google Inc. z siedzibą w USA w zakresie obsługi osadzonych na
						stronie filmów z przeglądarki YouTube. Google zbiera dane dotyczące
						Twoich preferencji, aktywności związanych z oglądaniem filmów, co
						może mieć wpływ na wyświetlane reklamy oraz kształt Twoich playlist.
						<a
							href="https://www.youtube.com/intl/ALL_pl/howyoutubeworks/user-settings/privacy/"
							target="_blank"
							>Zobacz jak YouTube dba o prywatność Twoich danych</a
						>.
					</li>
				</ol>
			</ul>
			<h3>§6. Termin przechowywania danych</h3>
			<ul>
				<li>
					Nie jesteśmy w stanie określić jednego okresu przez który będziemy
					przetwarzać Twoje dane.
				</li>
				<li>
					Jeśli przekazałeś nam swoje dane w wiadomości przesłanej drogą
					mailową, telefonicznie lub za pośrednictwem formularza, to Twoje dane
					będziemy przetwarzać do momentu złożenia przez Ciebie żądania
					usunięcia tych danych lub sprzeciwu wobec przetwarzania, ale również w
					przypadku, w którym uznamy, że zrealizowaliśmy prawnie uzasadniony
					interes Administratora.
				</li>
			</ul>
			<h3>§7. Prawa użytkowników</h3>
			<ul>
				<li>
					W związku z przetwarzaniem Twoich danych przysługują Ci następujące
					prawa:
				</li>
				<ol>
					<li>
						dostępu do treści swoich danych oraz prawo ich sprostowania,
						usunięcia, ograniczenia przetwarzania;
					</li>
					<li>prawo do przenoszenia danych;</li>
					<li>prawo wniesienia sprzeciwu;</li>
					<li>
						prawo do cofnięcia zgody na ich przetwarzanie w dowolnym momencie i
						w dowolnej formie, chyba że przetwarzanie danych odbywa się w celu
						wykonywania umowy przez Administratora, w celu wywiązania się przez
						Administratora z obowiązków prawnych względem instytucji państwowych
						lub w celu realizacji prawnie uzasadnionych interesów
						Administratora.
					</li>
				</ol>
				<li>
					Masz także prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych
					Osobowych (na adres Urzędu Ochrony Danych Osobowych, ul. Stawki 2,
					00-193 Warszawa).
				</li>
				<li>
					Więcej informacji w przedmiocie ochrony danych osobowych, znajdziesz
					na stronie internetowej Urzędu Ochrony Danych Osobowych: <a
						href="https://uodo.gov.pl"
						target="_blank">www.uodo.gov.pl</a
					>.
				</li>
			</ul>
			<h3>§8. Informacja o ciasteczkach</h3>
			<ul>
				<li>Na naszej stronie wykorzystujemy ciasteczka (pliki cookies).</li>
				<li>
					Na Stronie zainstalowaliśmy wtyczkę, która umożliwia Ci samodzielne
					zarządzanie zakresem przetwarzania danych osobowych poprzez pliki
					cookies. Wtyczka ta jest zgodna z najnowszymi wymaganiami Consent Mode
					v2, co zapewnia wysoki poziom personalizacji i ochrony prywatności.
					Autor wtyczki jest certyfikowanym partnerem Google, co stanowi
					potwierdzenie zastosowania najlepszych praktyk i standardów w zakresie
					zarządzania danymi użytkowników i cookies. Dzięki tej funkcjonalności,
					możesz w prosty i intuicyjny sposób dostosować ustawienia
					przetwarzania danych do własnych preferencji.
				</li>
				<li>
					Ciasteczka (pliki cookies) są niewielkimi plikami tekstowymi
					przechowywanymi na urządzeniach użytkowników podczas przeglądania
					Strony internetowej. Są one wykorzystywane w celu ułatwienia
					korzystania z naszej Strony, poprawienia jakości usług oraz
					umożliwienia analizy ruchu i zachowań użytkowników.
				</li>
				<li>
					Ciasteczka mogą być stałe (trwałe) lub tymczasowe (sesyjne). Stałe
					ciasteczka są przechowywane na urządzeniu użytkownika przez określony
					czas lub do momentu ich usunięcia przez użytkownika. Tymczasowe
					ciasteczka są usuwane po zamknięciu przeglądarki.
				</li>
				<li>
					Wykorzystujemy ciasteczka własne oraz ciasteczka stron trzecich.
					Ciasteczka własne są wykorzystywane w celu zapewnienia prawidłowego
					działania Strony, personalizacji treści, zapisywania preferencji
					użytkowników oraz analizy statystyk. Ciasteczka stron trzecich są
					wykorzystywane przez zewnętrzne narzędzia analityczne, reklamowe oraz
					do integracji z mediami społecznościowymi.
				</li>
				<li>
					Użytkownicy mają prawo kontrolować i ograniczać sposób, w jaki
					ciasteczka są wykorzystywane na naszej stronie. Większość przeglądarek
					internetowych umożliwia zarządzanie plikami cookies, w tym blokowanie,
					ograniczanie lub usuwanie ciasteczek. Szczegółowe informacje na temat
					zarządzania ciasteczkami można znaleźć w ustawieniach przeglądarki
					użytkownika.
				</li>
				<li>
					Należy pamiętać, że wyłączenie lub ograniczenie ciasteczek może
					wpłynąć na funkcjonalność Strony oraz jakość świadczonych usług.
				</li>
				<li>
					Na naszej stronie wykorzystujemy różne rodzaje ciasteczek, aby lepiej
					dostosować się do potrzeb użytkowników i zapewnić optymalne
					korzystanie ze Strony.
				</li>
				<li>
					Ciasteczka techniczne: Są niezbędne do prawidłowego funkcjonowania
					Strony. Umożliwiają utrzymanie sesji użytkownika, obsługę formularzy,
					zapamiętywanie preferencji oraz zapewnienie bezpieczeństwa Strony.
				</li>
				<li>
					Ciasteczka marketingowe: Pozwalają na personalizację reklam oraz
					prowadzenie działań remarketingowych, które są dostosowane do
					zainteresowań i preferencji użytkowników. Służą również do mierzenia
					skuteczności kampanii reklamowych oraz optymalizacji treści
					reklamowych.
				</li>
				<li>
					Ciasteczka analityczne: Są wykorzystywane do zbierania informacji o
					sposobie korzystania z Strony przez użytkowników, takich jak liczba
					odwiedzin, Strony odwiedzane, czas spędzony na stronie czy źródło
					ruchu. Uzyskane dane pomagają w analizie i optymalizacji Strony,
					poprawiając jej funkcjonowanie i dostosowując treści do potrzeb
					użytkowników.
				</li>
			</ul>
			<h3>§9. Dlaczego korzystamy z ciasteczek?</h3>
			<ul>
				<li>
					Komfort korzystania ze Strony: ciasteczka (pliki cookies) mogą
					znacząco wpłynąć na komfort korzystania ze Strony internetowej.
				</li>
				<li>
					Personalizacja treści: ciasteczka pozwalają na dostosowanie
					wyświetlanych treści do preferencji i zainteresowań użytkownika, co
					sprawia, że strona staje się bardziej atrakcyjna i użyteczna.
				</li>
				<li>
					Zapamiętywanie ustawień: Dzięki ciasteczkom strona może zapamiętać
					wybrane przez użytkownika ustawienia, takie jak język, układ czy
					kolorystyka, co pozwala na szybsze i wygodniejsze korzystanie z
					serwisu.
				</li>
				<li>
					Logowanie: ciasteczka umożliwiają przechowywanie informacji o
					zalogowanym użytkowniku, co pozwala na łatwe przełączanie się między
					różnymi sekcjami Strony bez konieczności ponownego logowania.
				</li>
				<li>
					Utrzymanie sesji: dzięki ciasteczkom strona może śledzić aktywność
					użytkownika na różnych podstronach, co pozwala na łatwe wracanie do
					ostatnio odwiedzanych sekcji lub kontynuowanie niedokończonych
					działań, takich jak wypełnianie formularzy.
				</li>
				<li>
					Optymalizacja wydajności: ciasteczka mogą być wykorzystane do analizy
					ruchu i zachowań użytkowników na stronie, co pomaga w optymalizacji
					jej wydajności oraz dostarczaniu treści o wysokiej jakości.
				</li>
				<li>
					Reklamy: ciasteczka umożliwiają wyświetlanie spersonalizowanych
					reklam, które są dopasowane do zainteresowań i potrzeb użytkownika.
					Dzięki temu, reklamy są mniej inwazyjne i bardziej adekwatne.
				</li>
				<li>
					Integracja z mediami społecznościowymi: ciasteczka pozwalają na
					integrację z serwisami społecznościowymi, takimi jak Facebook, Twitter
					czy Instagram, co umożliwia łatwe udostępnianie treści oraz
					korzystanie z dodatkowych funkcji, takich jak komentowanie czy
					polubienia.
				</li>
			</ul>
			<h3>§10. Funkcje ciasteczek technicznych</h3>
			<ul>
				<li>
					Utrzymanie sesji użytkownika: ciasteczka techniczne umożliwiają
					utrzymanie sesji użytkownika podczas poruszania się po stronie, co
					pozwala na przechodzenie między różnymi sekcjami Strony bez
					konieczności ponownego logowania czy wprowadzania tych samych
					informacji.
				</li>
				<li>
					Zapamiętywanie preferencji użytkownika: dzięki ciasteczkom technicznym
					strona może przechowywać informacje na temat preferencji użytkowników,
					takich jak wybrany język, wielkość czcionki, ustawienia kolorystyczne
					czy inne elementy personalizacji.
				</li>
				<li>
					Obsługa formularzy: ciasteczka techniczne wspomagają funkcjonowanie
					formularzy na stronie, takich jak formularze logowania, rejestracji
					czy kontaktowe, zapewniając prawidłowe przetwarzanie danych
					wprowadzanych przez użytkowników.
				</li>
				<li>
					Optymalizacja wydajności Strony: użycie ciasteczek technicznych
					umożliwia monitorowanie wydajności Strony oraz szybkość ładowania
					poszczególnych elementów, co pozwala na optymalizację i poprawę
					jakości świadczonych usług.
				</li>
				<li>
					Bezpieczeństwo: ciasteczka techniczne pomagają w zapewnieniu
					bezpieczeństwa Strony i jej użytkowników, na przykład poprzez
					weryfikację tożsamości użytkowników, wykrywanie prób włamań czy
					ochronę przed atakami typu CSRF (Cross-Site Request Forgery).
				</li>
			</ul>
			<h3>§11. Funkcje ciasteczek analitycznych</h3>
			<ul>
				<li>
					Pomiar ruchu na stronie: ciasteczka analityczne pozwalają na
					monitorowanie liczby odwiedzin, unikalnych użytkowników i wyświetleń
					stron, co daje ogólny obraz popularności i wydajności Strony.
				</li>
				<li>
					Analiza zachowań użytkowników: dzięki ciasteczkom analitycznym można
					zbierać informacje o sposobie, w jaki użytkownicy poruszają się po
					stronie, na przykład czas spędzony na poszczególnych podstronach,
					ścieżki nawigacji oraz miejsca, w których opuszczają Stronę.
				</li>
				<li>
					Optymalizacja konwersji: ciasteczka analityczne pomagają w
					identyfikowaniu elementów Strony, które wpływają na skuteczność
					osiągania celów biznesowych, takich jak rejestracja, złożenie
					zamówienia czy wypełnienie formularza kontaktowego.
				</li>
				<li>
					Segmentacja użytkowników: użycie ciasteczek analitycznych umożliwia
					grupowanie użytkowników według różnych kryteriów, co pozwala na lepsze
					dostosowanie treści i oferty, do potrzeb poszczególnych segmentów.
				</li>
				<li>
					Testowanie A/B: ciasteczka analityczne są wykorzystywane do
					przeprowadzania testów A/B, które polegają na porównaniu dwóch wersji
					Strony internetowej, aby sprawdzić, która z nich lepiej spełnia
					założone cele. Testy te pomagają w optymalizacji wyglądu,
					funkcjonalności i treści Strony.
				</li>
			</ul>
			<h3>§12 Funkcje ciasteczek reklamowych</h3>
			<ul>
				<li>
					Spersonalizowane reklamy: ciasteczka marketingowe umożliwiają
					wyświetlanie reklam dopasowanych do zainteresowań, preferencji i
					historii przeglądania użytkownika, co sprawia, że są one bardziej
					atrakcyjne i efektywne.
				</li>
				<li>
					Remarketing: dzięki ciasteczkom marketingowym można śledzić
					użytkowników, którzy odwiedzili Stronę, ale nie dokonali zakupu lub
					innej akcji i ponownie kierować do nich reklamy, aby zachęcić do
					powrotu na stronę i finalizacji transakcji.
				</li>
				<li>
					Pomiar skuteczności reklam: ciasteczka marketingowe pozwalają na
					monitorowanie wyników kampanii reklamowych, takich jak liczba
					kliknięć, konwersji czy wyświetleń, co umożliwia optymalizację
					strategii marketingowej.
				</li>
				<li>
					Zarządzanie reklamami w wielu kanałach: użycie ciasteczek
					marketingowych ułatwia koordynację i integrację działań reklamowych
					prowadzonych w różnych kanałach, takich jak wyszukiwarki, media
					społecznościowe czy Strony partnerskie.
				</li>
				<li>
					Testowanie i optymalizacja treści reklamowych: ciasteczka marketingowe
					są wykorzystywane do przeprowadzania testów A/B oraz innych metod
					analizy, które pozwalają na ocenę, jakie przekazy, formaty czy
					kreatywności reklamowe są najbardziej skuteczne i angażujące dla
					użytkowników.
				</li>
			</ul>
		</div>
	</section>
</Layout>
