---
import "../../styles.css";
import Layout from "../../layout/Layout.astro";
---

<Layout homepage={false}>
	<section class="document container mx-auto px-4 my-28 max-w-screen-md">
		<h2 class="text-4xl font-bold text-center mb-8">Regulamin</h2>
		<div class="text-sm text-justify">
			<h3>Pojęcia ogólne</h3>
			<ul>
				<li>Regulamin – niniejszy regulamin</li>
				<li>
					Serwis – serwis internetowy działający pod adresem
					https://nikicodes.com
				</li>
				<li>
					Usługodawca – właściciel serwisu będący osobą fizyczną - Natalia
					Nikiforuk
				</li>
				<li>
					Usługobiorca – każda osoba fizyczna, uzyskująca dostęp do Serwisu i
					korzystająca z usług świadczonych za pośrednictwem Serwisu przez
					Usługodawcę.
				</li>
				<li>
					Komunikacja Drogą Elektroniczną – komunikacja pomiędzy stronami za
					pośrednictwem poczty elektronicznej (e-mail) oraz formularzy
					kontaktowych dostępnych na stronie www.
				</li>
			</ul>
			<h3>Postanowienia ogólne</h3>
			<ul>
				<li>
					Regulamin określa zasady świadczenia usług przez Usługodawcę oraz
					zasady korzystania z serwisu.
				</li>
				<li>
					Przedmiotem działalności Usługodawcy jest świadczenie usług w zakresie
					tworzenia stron internetowych oraz związanych z tym usług
					programistycznych.
				</li>
				<li>
					Serwis umożliwia Usługobiorcom zapoznanie się z ofertą Usługodawcy
					oraz nawiązanie kontaktu poprzez formularz kontaktowy.
				</li>
			</ul>
			<h3>Warunki używania Serwisu</h3>
			<ul>
				<li>
					Korzystanie z Serwisu jest nieodpłatne i dobrowolne. Nie dotyczy to
					zamawianych usług tworzenia stron internetowych, które są świadczone
					odpłatnie na podstawie odrębnych ustaleń.
				</li>

				<li>
					Usługobiorcy mają obowiązek zapoznania się z Regulaminem oraz Polityką
					Prywatności przed skorzystaniem z formularza kontaktowego.
				</li>

				<li>
					Wymagania techniczne korzystania z Serwisu:
					<ol>
						<li>
							urządzenie z wyświetlaczem umożliwiające wyświetlanie stron
							internetowych,
						</li>
						<li>połączenie z internetem,</li>
						<li>
							dowolna przeglądarka internetowa, która wyświetla strony
							internetowe zgodnie ze standardami i postanowieniami Konsorcjum
							W3C i obsługuje strony www udostępniane w języku HTML5,
						</li>
						<li>włączoną obsługę skryptów JavaScript,</li>
						<li>włączoną obsługę plików Cookie</li>
					</ol>
				</li>
				<li>
					W celu zapewnienia bezpieczeństwa, wszyscy Usługobiorcy korzystający z
					Serwisu powinni stosować się do ogólnie przyjętych zasad
					bezpieczeństwa w sieci.
				</li>
				<li>
					Zabrania się działań wykonywanych osobiście przez Usługobiorców lub
					przy użyciu oprogramowania:
					<ol>
						<li>powodujących nadmierne obciążenie serwera Serwisu,</li>
						<li>
							prób wykrycia luk w zabezpieczeniach Serwisu i konfiguracji
							serwera,
						</li>
						<li>
							podejmowania jakichkolwiek działań mających na celu uszkodzenie,
							zablokowanie działania Serwisu lub uniemożliwienie realizacji jego
							celu
						</li>
					</ol>
				</li>
				<li>
					W przypadku wykrycia zaistnienia lub potencjalnej możliwości
					zaistnienia incydentu Cyberbezpieczeństwa lub naruszenia RODO,
					Usługobiorcy powinni zgłosić ten fakt Usługodawcy w celu szybkiego
					usunięcia problemu/zagrożenia.
				</li>
			</ul>
			<h3>Warunki komunikacji i świadczenia pozostałych usług w Serwisie</h3>
			<ul>
				<li>
					Serwis udostępnia usługi i narzędzia umożliwiające Usługobiorcom
					interakcję z Serwisem w postaci:
				</li>
				<ol>
					<li>formularza kontaktowego</li>
					<li>adresu e-mail</li>
					<li>telefonu komórkowego</li>
				</ol>
				<li>
					W przypadku kontaktu Usługobiorcy z Usługodawcą, dane osobowe
					Usługobiorców będą przetwarzane zgodnie z <a
						target="_blank"
						href="https://nikicodes.com/polityka-prywatnosci"
						>Polityką prywatności</a
					>, stanowiącą integralną część Regulaminu.
				</li>
			</ul>
			<h3>Gromadzenie danych o Usługobiorcach</h3>
			<ul>
				<li>
					W celu prawidłowego świadczenia usług przez Serwis, zabezpieczenia
					prawnego interesu Usługodawcy oraz zapewnienia zgodności działania
					Serwisu z obowiązującym prawem, Usługodawca za pośrednictwem Serwisu
					gromadzi i przetwarza niektóre dane o Użytkownikach.
				</li>
				<li>
					Szczegółowe informacje o zakresie, celach, sposobie oraz zasadach
					przetwarzania danych dostępne są w <a
						target="_blank"
						href="https://nikicodes.com/polityka-prywatnosci"
						>Polityce prywatności</a
					>, stanowiącej integralną część Regulaminu.
				</li>
			</ul>
			<h3>Prawa autorskie</h3>
			<ul>
				<li>
					Właścicielem Serwisu oraz praw autorskich do serwisu jest Usługodawca.
				</li>
				<li>
					Serwis może zawierać elementy chronione prawami autorskimi należącymi
					do podmiotów trzecich, wykorzystywane na podstawie uzyskanych licencji
					lub licencji darmowych.
				</li>
				<li>
					Na podstawie Ustawy z dnia 4 lutego 1994 o prawie autorskim zabrania
					się wykorzystywania, kopiowania, reprodukowania w jakiejkolwiek formie
					treści znajdujących się w Serwisie bez pisemnej zgody ich prawnego
					właściciela.
				</li>
			</ul>
			<h3>Zmiany w Regulaminie</h3>
			<ul>
				<li>
					Wszelkie postanowienia Regulaminu mogą być w każdej chwili
					jednostronnie zmieniane przez Usługodawcę, bez podawania przyczyn.
				</li>
				<li>
					Zmiany Regulaminu wchodzą w życie natychmiast po ich publikacji.
				</li>
				<li>
					Traktuje się iż każdy Usługobiorca, kontynuujący korzystanie z Serwisu
					po zmianie Regulaminu akceptuje go w całości.
				</li>
			</ul>
			<h3>Postanowienia końcowe</h3>
			<ul>
				<li>
					Usługodawca dokona wszelkich starań by usługi Serwisu były oferowane w
					sposób ciągły. Nie ponosi on jednak odpowiedzialności za zakłócenia
					spowodowane siłą wyższą lub niedozwoloną ingerencją osób trzecich.
				</li>

				<li>
					Usługodawca zastrzega sobie prawo do zmiany informacji umieszczonych w
					Serwisie oraz do czasowego wyłączenia Serwisu w celu jego ulepszenia
					lub przeprowadzania konserwacji.
				</li>

				<li>
					We wszelkich sprawach związanych z działalnością Serwisu można
					kontaktować się z Usługodawcą:
					<ol>
						<li>Używając formularza kontaktowego dostępnego w Serwisie</li>
						<li>Wysyłając wiadomość na adres e-mail: contact@nikicodes.com</li>
					</ol>
				</li>
			</ul>
		</div>
	</section>
</Layout>
