---
import "../../styles.css";
import Layout from "../../layout/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout homepage={false}>
	<div
		class="flex flex-col justify-center items-center min-w-56 text-center my-28 p-4"
	>
		<p class="font-bold">Dziękujemy za przesłanie formularza!</p>
		<div class="my-4">
			<Icon name="success" size={56} />
		</div>
		<p class="text-sm">Odezwiemy się do Ciebie jak najszybciej</p>
		<a
			href="https://nikicodes.com"
			class="mt-16 cursor-pointer text-sm text-purple-900 px-8 py-4 bg-transparent border rounded-full font-bold shadow-md hover:bg-gray-100 transition-all duration-75"
		>
			Powrót to strony głównej
		</a>
	</div>
</Layout>
