---

---

<footer class="bg-gray-800 py-12 text-sm" role="contentinfo">
	<div class="container mx-auto px-4">
		<div
			class="flex flex-col md:flex-row justify-between items-center md:items-start"
		>
			<div class="mb-8 md:mb-0">
				<div class="text-2xl font-bold text-gray-400">Natalia Nikiforuk</div>
				<div class="text-gray-400">Profesjonalne strony internetowe</div>
				<div class="text-gray-400 mt-4 not-italic">
					<p class="pb-2 hover:text-gray-200 transition-all">
						Tel: <a href="tel:+48512227842">+48 512 227 842</a>
					</p>
					
					<p class="hover:text-gray-200 transition-all">
						Email: <a href="mailto:contact@nikicodes.com"
							>contact@nikicodes.com</a
						>
					</p>
				</div>
			</div>
			<div class="text-center">
				<a
					class="text-gray-400 hover:text-gray-200 transition-all"
					href="/polityka-prywatnosci"
					target="_blank">Polityka prywatności</a
				>
			</div>
		</div>
		<div
			class="border-t border-gray-800 mt-8 pt-8 text-right text-gray-400 text-sm"
		>
			<p>&copy; {new Date().getFullYear()} niki codes.</p>
		</div>
	</div>
</footer>
