---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles.css";

const { homepage } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-W5B6WX2M");
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Niki codes - profesjonalne tworzenie stron internetowych"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preload"
			href="/fonts/PlayfairDisplay.woff"
			as="font"
			type="font/woff"
			crossorigin
		/>
		<meta name="generator" content={Astro.generator} />
		<title>niki codes.</title>
	</head>
	<body
		class="bg-gradient-to-br from-slate-50 to-slate-100 text-slate-700 min-h-screen flex flex-col"
	>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-W5B6WX2M"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<Header homepage={homepage} />
		<main id="main-content" class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
